

@import url("../../../../tecvel-novo/public/icons/css/themify-icons.css");
@import url("../../../../tecvel-novo/public/icons/css/font-awesome.min.css");
@import url("../../../../tecvel-novo/public/icons/css/materialdesignicons.min.css");
